<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <link type='text/css' rel='stylesheet' href="/assets/css/style.css">



</head>



<body>

<nav class="navbar text-light bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="text-light fs-5 withoutLine">
        <td th:text="${adminUser.email}"/>
      </a>
      <a class="text-light fs-5 withoutLine">with roles:</a>
      <tr th:each="ua: ${adminUser.getRoles()}">
        <a class="text-light fs-5 withoutLine">
          <td th:text="${ua.name()}"/>
        </a>
      </tr>
    </div>
    <div class="navbar navbar-nav">
      <a th:href="@{/logout}" type="link" class="withoutLine link-secondary linkColor mx-4"> Logout </a>
    </div>
  </div>
</nav>
                                            <!--        Боковая панель  -->
<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills col-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
<!--                                                  Кнопки боковой панели-->
    <br>
    <button class="nav-link active text-start" id="v-pills-home-tab" data-bs-toggle="tab" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</button>
    <button class="nav-link text-start" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</button>
  </div>
  <div class="tab-content col-10" id="v-pills-tabContent">
<!--                                                         Первая вкладка боковой панели-->
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
      <div class="rightSide">
        <br>
        <!--        Заголовок-->
        <div class="mx-4">
          <h2> Admin panel</h2>
          <!--     Навигационная панель    Start-->
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active  " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                      type="button" role="tab" aria-controls="nav-home" aria-selected="true">Users table
              </button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                      type="button" role="tab" aria-controls="nav-profile" aria-selected="false">New User
              </button>
            </div>
          </nav>

          <div class="tab-content" id="nav-tabContent">
            <!--             Основная таблица-->

            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

              <!--         Первая вставка основной таблицы-->
              <div class="container-default mx-6">
                <nav class="navbar border rounded-top">
                  <div class="navbar-header">
                    <h5 class="mx-3 my-1"> All users </h5>
                  </div>
                </nav>
              </div>
              <div class="container rounded-bottom  tableColor">
                <div class="pt-4 mb-2 mx-3 border-bottom"></div>
                <div class="container">
                  <div class="row">
                  <div class="col-12 mb-5">
                <table id="tableUser"
                       class="table table-striped borderless td borderless th  text-center ">
                  <thead>
                  <tr>
                    <th data-toggle="true">ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr data-toggle="modal" data-target="#modalUpdate" th:each="user:${admin}">
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.surName}"></td>
                    <td th:text="${user.age}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                      <th:block th:each="role: ${user?.getRoles()}">
                      <a th:text="${role.name()} "></a>
                      </th:block></td>
                    <td>
                        <button id="update-form" type="button" class="btn btn-info btn-default" data-bs-toggle="modal"
                                th:attr="data-bs-target='#modalUpdate'+${user.id}">Edit
                        </button>

                <!-- Модальное окно EDIT - 1 -->

                <div class="modal" id="modalUpdate" th:id="'modalUpdate'+${user.id}" tabindex="-1" aria-labelledby="modalUpdateLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <form th:method="PATCH" id="updateForm" name="updateForm" th:action="@{/}" th:object="${user}" data-bs-target="#update-form">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalUpdateLabel">Edit User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <div class="row">
                            <label for="user-id-f1" class="text-center fw-bolder col-form-label">ID</label>
                            <div class="col-6 mx-auto">
                              <input type="number" name="id" th:value="*{id}" class="form-control form-control-sm text-start mt" id="user-id-f1">
                            </div>
                          </div>
                          <div class="row">
                            <label for="name" class="text-center fw-bolder col-form-label  align-bottom">First
                              Name</label>
                            <div class="col-6 mx-auto">
                              <input type="text" name="name" th:value="*{name}" class="form-control form-control-sm text-start mt" id="name">
                            </div>
                          </div>
                          <div class="row">
                            <label for="surName" class="text-center fw-bolder col-form-label">Last Name</label>
                            <div class="col-6 mx-auto">
                              <input type="text" name="surName" th:value="*{surName}" class="form-control form-control-sm text-start mt" id="surName">

                            </div>
                          </div>
                          <div class="row">
                            <label for="age-f1" class="text-center fw-bolder col-form-label">Age</label>
                            <div class="col-6 mx-auto">
                              <input type="number" name="age" th:value="*{age}" class="form-control form-control-sm text-start mt"  id="age-f1">

                            </div>
                          </div>
                          <div class="row">
                            <label for="email-f1"  class="text-center fw-bolder col-form-label">Email</label>
                            <div class="col-6 mx-auto">
                              <input type="email" name="email" th:value="*{email}" class="form-control form-control-sm text-start mt" id="email-f1">

                            </div>
                          </div>
                          <div class="row">
                            <label for="passNotShow-f1"  class="text-center fw-bolder col-form-label">Password</label>
                            <div class="col-6 mx-auto">
                              <input  name="password" type="text"  class="form-control form-control-sm text-start mt" id="passNotShow-f1">
                            </div>
                          </div>
                          <div class="row">
                            <label for="role-f1" class="text-center fw-bolder col-form-label">Role</label>
                            <div class="col-6 mx-auto">
                              <select multiple class="form-select mt"  name="roles" th:value="*{roles}" size="2" aria-label="size 2 select example" id="role-f1">
                                <option value="ADMIN">ADMIN</option>
                                <option value="USER">USER</option>
                              </select>

                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="update-button" type="submit" data-bs-dismiss="modal"
                                class="btn btn-primary btn-default">Edit
                        </button>
                      </div>
                    </div>
                    </form>
                  </div>
                </div>
                    </td>
                    <td>
                      <button id="delete-form" type="button"  class="btn btn-danger" data-bs-toggle="modal"
                              th:attr="data-bs-target='#modalDelete'+${user.id}" data-bs-target="#modalDelete">Delete
                      </button>
                <!-- Модальное окно DELETE -  2 -->

                <div class="modal"  th:id="'modalDelete'+${user.id}" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <form th:method="DELETE" name="deleteForm" th:action="@{/}" th:object="${user}">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modalDeleteLabel">Delete User</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <div class="row ">
                            <label for="user-id-f2" class="text-center fw-bolder col-form-label">ID</label>
                            <div class="col-6 mx-auto">
                              <input type="number" name="id" th:value="*{id}" class="form-control form-control-sm text-start mt" id="user-id-f2">
                            </div>
                          </div>
                          <div class="row">
                            <label for="user-name-f2" class="text-center fw-bolder col-form-label  align-bottom">First
                              Name</label>
                            <div class="col-6 mx-auto">
                              <input type="text" name="username" th:value="*{username}" class="form-control form-control-sm text-start mt" id="user-name-f2">
                            </div>
                          </div>
                          <div class="row">
                            <label for="user-lastName-f2" class="text-center fw-bolder col-form-label">Last Name</label>
                            <div class="col-6 mx-auto">
                              <input type="text" name="surName" th:value="*{surName}" class="form-control form-control-sm text-start mt" id="user-lastName-f2">
                            </div>
                          </div>
                          <div class="row">
                            <label for="age-f2" class="text-center fw-bolder col-form-label">Age</label>
                            <div class="col-6 mx-auto">
                              <input type="number" name="age" th:value="*{age}" class="form-control form-control-sm text-start mt" id="age-f2">
                            </div>
                          </div>
                          <div class="row">
                            <label for="email-f2" class="text-center fw-bolder col-form-label">Email</label>
                            <div class="col-6 mx-auto">
                              <input type="email" name="email" th:value="*{email}" class="form-control form-control-sm text-start mt" id="email-f2">
                            </div>
                          </div>
                          <div class="row">
                            <label for="role-f2" class="text-center fw-bolder col-form-label">Role</label>
                            <div class="col-6 mx-auto">
                              <select multiple class="form-select mt" size="2" name="roles" th:value="*{roles}" aria-label="size 2 select example" id="role-f2">
                                <option value="ADMIN">ADMIN</option>
                                <option value="USER">USER</option>
                              </select>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="delete-button" type="submit" class="btn btn-danger btn-default">Delete
                        </button>
                      </div>
                    </div>
                    </form>
                  </div>
                </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
                  </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Вторая вкладка-->
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <!--                         Вставка второй таблицы-->

                          <!--              Заголовок-->
              <div class="container-default mx-6 ">
                <nav class="navbar border rounded-top">
                  <div class="navbar-header">
                    <h5 class="mx-3 my-1">Add new user</h5>
                  </div>
                </nav>
              </div>
              <!--              Основная часть-->

              <form th:method="POST" name="addForm" th:action="@{/}">
                  <div class="modal-content">
                    <div class="modal-body" >
                        <div class="row ">
                          <label for="user-n-f1" class="text-center fw-bolder col-form-label">First Name</label>
                          <div class="col-3 mx-auto " >
                            <input type="text" name="name" class="form-control form-control-sm text-start mt" id="user-n-f1">
                          </div>
                        </div>
                        <div class="row">
                          <label for="user-l-f1" class="text-center fw-bolder col-form-label">Last Name</label>
                          <div class="col-3 mx-auto">
                            <input type="text" name="surName" class="form-control form-control-sm text-start mt" id="user-l-f1">
                          </div>
                        </div>
                        <div class="row">
                          <label for="a-f1" class="text-center fw-bolder col-form-label">Age</label>
                          <div class="col-3 mx-auto">
                            <input type="number" name="age" class="form-control form-control-sm text-start mt" id="a-f1">
                          </div>

                          <label for="e-f1"  class="text-center fw-bolder col-form-label">Email</label>
                          <div class="col-3 mx-auto">
                            <input type="email" name="email" class="form-control form-control-sm text-start mt" id="e-f1">

                          </div>

                          <label for="p-f1" class="text-center fw-bolder col-form-label">Password</label>
                          <div class="col-3 mx-auto">
                            <input type="password" name="password" class="form-control form-control-sm text-start mt" id="p-f1">

                          </div>
                          <label for="r-f1" class="text-center fw-bolder col-form-label">Role</label>
                          <div class="col-3 mx-auto">
                            <select multiple class="form-select mt"  name="roles" size="2" aria-label="size 2 select example" id="r-f1">
                              <option value="ADMIN">ADMIN</option>
                              <option value="USER">USER</option>
                            </select>

                          </div>
                        </div>
                      <div class="text-center my-3">
                        <button type="submit" id="userAdd-button" class="btn btn-success btn-lg text-center">Add new user</button>
                      </div>
                    </div>
                  </div>
                </form>
                </div>
              </div>
            </div>
        <!--                                           Конец основной части-->
      </div>
    </div>
<!--                                                    Вторая вкладка боковой панели-->

               <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                 <div class="rightSide">
                   <br>
                   <!--        Заголовок-->
                   <div class="mx-4">
                     <h2>User information-page</h2>
                     <div class="container-default mx-6">
                       <nav class="navbar border rounded-top">
                         <div class="navbar-header">
                           <h5 class="mx-3 my-1">About user</h5>
                         </div>
                       </nav>
                     </div>
                     <div class="container rounded-bottom  tableColor">
                       <div class="pt-3 pb-2 mb-1 mx-3 border-bottom"></div>
                       <div class="container">
                         <div class="row">
                           <div class="col-12">
                             <table id="about User"
                                    class="table table-striped borderless td borderless th  text-center ">
                               <thead>
                         <tr>
                           <th>ID</th>
                           <th>First Name</th>
                           <th>Last Name</th>
                           <th>Age</th>
                           <th>Email</th>
                           <th>Role</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr th:each="user:${adminUser}">
                           <th th:text="${user.getId()}"></th>
                           <td th:text="${user.getUsername()}"></td>
                           <td th:text="${user.surName}"></td>
                           <td th:text="${user.age}"></td>
                           <td th:text="${user.email}"></td>
                           <td> <th:block th:each="role: ${user?.getRoles()}">
                             <a th:text="${role.name()} "></a>
                           </th:block>
                           </td>

                         </tr>
                         </tbody>
                       </table>
                  </div>
              </div>
            </div>
            <!--     Навигационной панели     End-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
</html>
