<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form th:method="patch" th:action="@{/admin}" th:object="${user}">
    <label for="i"> Enter id: </label>
    <input type="number" th:field="*{id}" id="i">
    <div style="color: red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Name Error</div>
    <br/>
    <label for="n">Enter name: </label>
    <input type="text" th:field="*{username}" id="n">
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
    <br/>
    <label for="s">Enter surName: </label>
    <input type="text" th:field="*{surName}" id="s">
    <div style="color: red" th:if="${#fields.hasErrors('surName')}" th:errors="*{surName}">SurName Error</div>
    <br/>
    <label for="a">Enter age: </label>
    <input type="number" th:field="*{age}" id="a">
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}" >Age Error</div>
    <br/>
    <label for="pass">Enter password: </label>
    <input type="text" th:field="*{password}" id="pass">
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/>
    <label for="roles">Enter roles: </label>
    <select th:field="*{roles}" id = "roles">
        <option th:value="USER" th:text="USER"></option>
        <option th:value="ADMIN" th:text="ADMIN"></option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="UpdateUser">
</form>
<br/>
<br/>
<form th:action="@{/admin}" method="get">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>